.aside-left {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 52%;
   height: 100%;
   background-color: var(--color-brand-1);
   color: var(--color-grey-7);
}

.aside-left h1 {
   font-size: var(--font-title-1);
   font-weight: 600;
}

.aside-left h2 {
   font-size: var(--font-title-2);
   font-weight: 400;
   line-height: 1.875rem;
}

.aside-left p {
   font-size: var(--font-text-1);
   font-weight: 500;
}

.aside-left-container {
   display: flex;
   flex-direction: column;
   gap: 2.81rem;
   width: 60%;
}

.aside-left-container span {
   display: flex;
   align-items: center;
   gap: 1.19rem;
}

.aside-left-container ul {
   display: flex;
   gap: 10px;
}

.user-img {
   border-radius: 50%;
   width: 44px;
   border: 0.15rem solid var(--color-brand-1);
   position: relative;
   z-index: 0; 
   transition: 0.3s ease;
}

.recent-users-container {
   display: flex;
   flex-direction: column;
   position: relative;
   cursor: pointer;
}

.recent-users-container p {
   display: none;
   position: absolute;
   padding: 4px 8px;
   background-color: var(--color-grey-7);
   border-radius: var(--radius-1);
   bottom: -12px;
   left: -38px;
   font-size: var(--font-text-3);
   font-weight: 500;
   min-width: 124px;
   width: fit-content;
   z-index: 1;
   border: none;
   box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
   color: var(--color-grey-2);
}

.recent-users-container:hover .user-img {
   border: 0.15rem solid var(--color-grey-7);
}
.recent-users-container:hover > p {
   display: block;
}
